test/t1.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "6a7b787c-5974-331d-9379-628f5727e128",
            "id" : "859766fd-03c6-3263-b9b8-378d48eb1cc2",
            "instanceIdentifier" : "6eb5a4c4-391e-35d2-141d-9fb735cd77ea",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "6a7b787c-5974-331d-9379-628f5727e128",
          "identifier" : "8f5309ee-0828-32d8-a2f7-245db3dbb876",
          "instanceIdentifier" : "fe865ed8-6b65-315c-b628-657183f65ccd",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "6a7b787c-5974-331d-9379-628f5727e128",
            "id" : "f15dd335-7790-3fc7-a385-a19176f1cf01",
            "instanceIdentifier" : "3d0ab69e-3f17-30d6-58f0-422eebe8951a",
            "name" : "GenerateFlowFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "6a7b787c-5974-331d-9379-628f5727e128",
        "inputPorts" : [ ],
        "instanceIdentifier" : "eb4f3fd4-3552-1be1-7da5-02a61f155b52",
        "labels" : [ ],
        "name" : "1",
        "outputPorts" : [ ],
        "parameterContextName" : "nifi-avtocode",
        "position" : {
          "x" : 0.0,
          "y" : 0.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.20.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "6a7b787c-5974-331d-9379-628f5727e128",
          "identifier" : "f15dd335-7790-3fc7-a385-a19176f1cf01",
          "instanceIdentifier" : "3d0ab69e-3f17-30d6-58f0-422eebe8951a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GenerateFlowFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 464.0,
            "y" : 64.0
          },
          "properties" : {
            "character-set" : "UTF-8",
            "File Size" : "0B",
            "Batch Size" : "1",
            "Unique FlowFiles" : "false",
            "Data Format" : "Text"
          },
          "propertyDescriptors" : {
            "character-set" : {
              "displayName" : "Character Set",
              "identifiesControllerService" : false,
              "name" : "character-set",
              "sensitive" : false
            },
            "File Size" : {
              "displayName" : "File Size",
              "identifiesControllerService" : false,
              "name" : "File Size",
              "sensitive" : false
            },
            "mime-type" : {
              "displayName" : "Mime Type",
              "identifiesControllerService" : false,
              "name" : "mime-type",
              "sensitive" : false
            },
            "generate-ff-custom-text" : {
              "displayName" : "Custom Text",
              "identifiesControllerService" : false,
              "name" : "generate-ff-custom-text",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Unique FlowFiles" : {
              "displayName" : "Unique FlowFiles",
              "identifiesControllerService" : false,
              "name" : "Unique FlowFiles",
              "sensitive" : false
            },
            "Data Format" : {
              "displayName" : "Data Format",
              "identifiesControllerService" : false,
              "name" : "Data Format",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "2 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GenerateFlowFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.20.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "6a7b787c-5974-331d-9379-628f5727e128",
          "identifier" : "859766fd-03c6-3263-b9b8-378d48eb1cc2",
          "instanceIdentifier" : "6eb5a4c4-391e-35d2-141d-9fb735cd77ea",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 640.0,
            "y" : 224.0
          },
          "properties" : {
            "p" : "#{x}",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "p" : {
              "displayName" : "p",
              "identifiesControllerService" : false,
              "name" : "p",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : {
        "nifi-avtocode" : {
          "componentType" : "PARAMETER_CONTEXT",
          "inheritedParameterContexts" : [ ],
          "name" : "nifi-avtocode",
          "parameterGroupName" : "nifi-avtocode",
          "parameterProvider" : "eb4f3f9e-3552-1be1-b4a6-986927fa9c9e",
          "parameters" : [ {
            "name" : "kafkaGroupId-checkVehicle",
            "provided" : true,
            "sensitive" : false,
            "value" : "dc1_nifi_check_vehicle_v1"
          }, {
            "name" : "kafkaTopic-autocodeCaller",
            "provided" : true,
            "sensitive" : false,
            "value" : "kafkaTopic-avtocodeIssuedCall"
          }, {
            "name" : "test",
            "provided" : true,
            "sensitive" : false,
            "value" : "111111111111111111kest"
          }, {
            "name" : "kafkaGroupId-regDataInit",
            "provided" : true,
            "sensitive" : false,
            "value" : "dc1_nifi_get_vehicle_reg_data_v1"
          }, {
            "name" : "kafkaTopic-avtocodeIssuedCall",
            "provided" : true,
            "sensitive" : false,
            "value" : "vk.autocode.issued_call.v1"
          }, {
            "name" : "regDataToRawDirectory",
            "provided" : true,
            "sensitive" : false,
            "value" : "/dc1/raw/avtocod/v1/${now():format('yyyy-MM-dd','GMT')}"
          }, {
            "name" : "kafkaGroupId-avtocodeCaller",
            "provided" : true,
            "sensitive" : false,
            "value" : "dc1_nifi_avtocode_caller_v1"
          }, {
            "name" : "kafkaTopic-initRegData",
            "provided" : true,
            "sensitive" : false,
            "value" : "vk.avtocode.vehicle.get_reg_data_task.v1"
          }, {
            "name" : "kafkaTopic-regDataToRaw",
            "provided" : true,
            "sensitive" : false,
            "value" : "vk.avtocode.vehicle.v1.reg_history.v1"
          }, {
            "name" : "webhook_header",
            "provided" : true,
            "sensitive" : false,
            "value" : "webhook_url"
          }, {
            "name" : "kafkaTopic-fitServiceInit",
            "provided" : true,
            "sensitive" : false,
            "value" : "vk.fitservice.vehicle.get_srv_data_task.v1"
          }, {
            "name" : "regDataCallbackGatewayContextPath",
            "provided" : true,
            "sensitive" : false,
            "value" : "/webhook/autodata/reports/reg-data"
          }, {
            "name" : "regDataToRawTransitDirectory",
            "provided" : true,
            "sensitive" : false,
            "value" : "/dc1/trans/avtocod/v1/ingestion_date=${now():format('yyyy-MM-dd','GMT')}"
          }, {
            "name" : "kafkaTopic-getRegDataTask",
            "provided" : true,
            "sensitive" : false,
            "value" : "vk.avtocode.vehicle.get_reg_data_task.v1"
          }, {
            "name" : "elastic_avtocode_index",
            "provided" : true,
            "sensitive" : false,
            "value" : "nifi-avtocode"
          }, {
            "name" : "kafkaGroupId-rawAvtocodeRegData",
            "provided" : true,
            "sensitive" : false,
            "value" : "dc1_kafka-raw_avtocode_v1_vechicle_reg_data"
          }, {
            "name" : "regDataToRawFilename",
            "provided" : true,
            "sensitive" : false,
            "value" : "${now():format('yyyyMMddhhmmss','GMT')}_${uuid}.raw"
          }, {
            "name" : "regDataToRawTransitFilename",
            "provided" : true,
            "sensitive" : false,
            "value" : "${now():format('yyyyMMddhhmmss','GMT')}_${uuid}.json"
          }, {
            "name" : "kafkaTopic-ingestEvent",
            "provided" : true,
            "sensitive" : false,
            "value" : "vk.vehicle.data.ingest.event.v1"
          }, {
            "name" : "kafkaTopic-initCheckVehicleTask",
            "provided" : true,
            "sensitive" : false,
            "value" : "vk.avtocode.vehicle.initiate_check_task.v1"
          } ],
          "synchronized" : true
        }
      },
      "parameterProviders" : {
        "eb4f3f9e-3552-1be1-b4a6-986927fa9c9e" : {
          "bundle" : {
            "artifact" : "nifi-hashicorp-vault-nar",
            "group" : "org.apache.nifi",
            "version" : "1.20.0"
          },
          "identifier" : "eb4f3f9e-3552-1be1-b4a6-986927fa9c9e",
          "name" : "VAULT",
          "type" : "org.apache.nifi.vault.hashicorp.HashiCorpVaultParameterProvider"
        }
      }
    }
  }
}